NEXT_PUBLIC_SUPABASE_URL=https://aalomsbwvxukemnbihfd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhbG9tc2J3dnh1a2VtbmJpaGZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMDc3NTUsImV4cCI6MjA5OTU4Mzc1NX0.ahJKEiixYlMxu9z-K0um7a7O3WGTzQ6X0zwVqE71rYI



